# Terraform.
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
/infrastructure/builds/*
/infrastructure/tfplan

# Dependencies.
/node_modules
/.pnp
.pnp.js

# Testing.
/coverage

# Production output.
/build

# Optional npm cache directory.
.npm

# Misc.
.DS_Store

# Logs.
npm-debug.log*
